
/* ================= GENERAL ================= */
:root{
  --teal:#0b6f78;
  --teal-dark:#1b7b83;
  --gold:#d88b2d;
  --gold-dark:#b57b2e;
  --cream:#f6f2ea;
  --beige:#efd9c3;
  --soft:#f3e8dc;
  --gray:#d9dbd7;
  --dark:#111;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: Arial, sans-serif;
  color:var(--dark);
  overflow-x:hidden;
}

.section-padding{
  padding:90px 0;
}

.section-title{
  color:var(--teal-dark);
  font-weight:700;
  font-size:clamp(32px,4vw,52px);
}

.section-title span{
  color:var(--teal);
}

img{
  max-width:100%;
}



/* ================= HERO ================= */
.hero{
  background:url("../img/Home.png") center/cover no-repeat;
  min-height:100vh;
}

.logo-img{
  width:120px;
}


/* النافبار باللون الجنزاري مع تغيير الاحجام  */
.nav-link{
  color: var(--teal);
  font-size:20px;
  font-weight:600;
  position:relative;
  transition:0.3s;
 right: 100px;
}

/* Home */
.nav-link.active{
  color: var(--teal) !important;
}

/* وضع خط تحت الهوم  */
.nav-link.active::after{
  content:"";
  position:absolute;
  left:12px;
  right:12px;
  bottom:-5px;
  height:3px;
  background:var(--gold);
  border-radius:8px;
}

/* عند مرور الماوس */
.nav-link:hover{
  color: var(--gold) !important;
}

/* عند مرور الماوس خلي خط تحت النافبار وبلون زي الهزم  */
/* .nav-link:hover::after{
  content:"";
  position:absolute;
  left:12px;
  right:12px;
  bottom:-5px;
  height:3px;
  background:var(--gold);
  border-radius:5px;
} */

/* كلاس لصورة التايتل والنص الي تحتها */
.hero-content{
  padding-top:80px;
  max-width:560px;
}

/* كلاس Title بالصورة تعديل  */
.hero-title-img{
  max-width:460px;
  margin-bottom:22px;
}
/* النص الي تحت العنوان  */
.hero-content p{
  font-size:clamp(22px,2.5vw,34px);
  line-height:1.35;
}

.hero-content span{
  color:var(--gold);
}
.main-btn{
  transition: transform .3s ease;
}

.main-btn:hover{
  transform: scale(1.08);
}
.main-btn,
.gold-btn{
  background:var(--teal);
  color:#fff;
  border-radius:22px;
  padding:12px 34px;
  font-size:clamp(18px,2vw,28px);
  border:none;
}



.main-btn:hover{
  background:#095c64;
  color:#fff;
}

.outline-btn{
  background:#fff;
  color:var(--teal);
  border:1px solid var(--teal);
  border-radius:22px;
  padding:12px 34px;
  font-size:clamp(18px,2vw,28px);
  transition:transform .3s ease;
  text-decoration: none;
}

.outline-btn:hover{
  transform:scale(1.08);
}

/* ================= ABOUT ================= */
/* الاب الكبير ريليتف */
.about{
  position:relative;
  min-height:700px;
  overflow:hidden;
}
/* الصورة ابسيليوت عشان الشفاية ةالكلام يكون فوقها  */
.about-img{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
}
/* من هنا تم عمل الشفافية */
.about-overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(
    to right,
    rgba(11,111,120,1) 0%,
    rgba(11,111,120,.95) 25%,
    rgba(11,111,120,.65) 42%,
    rgba(11,111,120,0) 62%
  );
}
/* النص الي فوق الصورة  */
.about-content{
  position:relative;
  z-index:2;
  width:min(520px,100%);
  padding-top:90px;
  color:#fff;
}

.about-content h2 i{
  color:white;
  cursor:pointer;
  transition:.3s;
}

.about-content h2 i:hover{
  color:#e8a452;
  transform:scale(1.15);
}

.about-content h2{
  font-size:clamp(32px,4vw,50px);
  font-weight:700;
  margin-bottom:25px;
}

.about-content p{
  font-size:clamp(18px,2vw,25px);
  line-height:1.55;
}
/**********************why choose***************/
.why-choose-livora{
  background: #f6f2ea;
  min-height: 100vh;
  padding: 80px 50px;
  position: relative;
  overflow: hidden;
}
/* الصورة */
.myimg{
  position:absolute;
  left:-70px;      /* طلعي الإيد برا الشاشة */
  top:90px;
  z-index:1;
}

.myimg img{
  width:420px;      /* تكبير الصورة */
  height:auto;
  max-width:none;
}
/* المحتوى الي داخله النصوص */
.why-choose-livora .container{
  position: relative;
  z-index: 2;
  padding-left: 120px;
}

.why-title{
  font-weight: 600;
}

.why-title span{
  color:#1f7b85;
}
/* كلاس الصف تاع النوص الي فوق */
.features-row{
  padding-top: 80px;
}
/* كلاس الاعمدة يعني الي جوا  */
.feature-item h3{
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
}

.feature-item p{
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}
/* موجود داخل الكلاس هاد الخط الصغير */
.features-row .border-end{
  position: relative;
  border-right: none !important;
}

.features-row .border-end::after{
  content: "";
  position: absolute;
  right: 0;
  top: 20px;      /* نزول الخط */
  height: 70%;    /* طول الخط */
  width: 2px;
  background-color: #b9afaf;
}
/* الصندوق الكبير الي فيه الارقام  */
.stats-box{
  background:#1f7b85;
  border-radius:30px;
  padding:30px 20px;
  margin-top:5px;
  margin-left:20px;
  margin-right:20px;
}


.stats-box .col-md-3{
  cursor: pointer;
  transition: transform .3s ease;
}

.stats-box .col-md-3:hover{
  transform: scale(1.08);
}

.stats-box .col-md-3:active{
  transform: scale(1.12);
}

.stats-box h2{
  font-size:45px;
  font-weight:bold;
}
.feature-item i{
  font-size:40px;
  color:#1f7b85;
  margin-bottom:15px;
}
.feature-item i:hover{
  font-size:40px;
  color:darkorange;
  margin-bottom:15px;
}
/*************sevicess***************************************/
.services{
  background:#f6f2ea;
  overflow:hidden;
  padding-bottom: 200px;

}

.services-title h1{
  color:#1f7b85;
  font-size:45px;
  font-weight:700;
}

.services-title p{
  font-size:32px;
  margin-bottom:50px;
}

.services-swiper{
  overflow:visible;
}

.service-card{
  background:#ffe7cf;
  border:1px solid #1f7b85;
  border-radius:18px;
  height:175px;
  overflow:hidden;
  cursor:pointer;
  transition:.4s;
}


/* قبل الضغط */
.service-info{
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:15px;
}
.service-info i{
  color:#1f7b85;
  font-size:34px;
}

.service-info h3{
  color:#1f7b85;
  font-size:23px;
  font-weight:700;
  margin:0;
  text-align:center;
}

.service-img{
  width:100%;
  height:0;
  object-fit:cover;
  opacity:0;
  transition:.4s;
}

.service-card p{
  display:none;
  color:#5f5148;
  font-size:16px;
  line-height:1.4;
  padding:0 18px;
  margin:0;
}

/* بعد الضغط */
.service-card.open{
  height:400px;
}

.service-card.open .service-img{
  height:250px;
  opacity:1;
}

.service-card.open .service-info{
  height:auto;
  flex-direction:row;
  justify-content:flex-start;
  gap:10px;
  padding:14px 18px 8px;
}

.service-card.open .service-info i{
  font-size:25px;
}

.service-card.open .service-info h3{
  font-size:21px;
  text-align:left;
}

.service-card.open p{
  display:block;
  padding:0 18px 18px;
}

/* موبايل */
@media(max-width:768px){
  .services{
    padding:50px 15px;
  }

  .services-title h1{
    font-size:30px;
  }

  .services-title p{
    font-size:20px;
  }

  .service-card{
    height:155px;
  }

  .service-card.open{
    height:280px;
  }

  .service-card.open .service-img{
    height:105px;
  }

  .service-info h3{
    font-size:18px;
  }
}
/* قبل الضغط فقط */
.service-card:not(.open):hover .service-info i{
  color:#df9130;   /* لون الأيقونة */
}

.service-card:not(.open):hover .service-info h3{
  color:#df9130;   /* لون النص */
}
/* ================= CATEGORIES ================= */
.categories{
  background:#f6f2ea;
  padding:90px 0 130px;
  overflow:hidden;
}
.categories-wrapper{
    position:relative;
}
.categories-wrapper{
  position: relative;
  border: 2px solid #1f7b85;
  border-radius: 18px;
  background: #f6f2ea;
  padding: 40px;
}

.categories-wrapper::before{
  content:"";
  position:absolute;
  bottom:-3px;
  left:60%;
  transform:translateX(-50%);
  width:90px;
  height:6px;
  background:#f6f2ea;
  z-index:2;
}

.categories-wrapper::after{
  content:"";
  position:absolute;
  bottom:-34px;
  left:60%;
  transform:translateX(-50%) rotate(45deg);
  width:68px;
  height:68px;
  background:#f6f2ea;
  border-right:2px solid #1f7b85;
  border-bottom:2px solid #1f7b85;
  z-index:2;
}

.categories-img{
  width:90%;
  height:400px;
  object-fit:cover;
  border-radius:35px;
  border:2px solid #1f7b85;
  margin-left:-110px;
  margin-top:10px;


  
}

.categories-title{
  color:#1f7b85;
  font-size:50px;
  font-weight:600;
  text-align:center;
  margin-top:-130px;
  margin-bottom:55px;
}

.categories-content{
  padding-left:0;
  max-width:360px;
  margin:0 auto;
}

.categories-content .row{
  --bs-gutter-x:8px;    /* كان 18 */
  --bs-gutter-y:18px;   /* كان 28 */
}

.category-box{
  width:115px;
  height:105px;
  background:#dfe1dc;
  border-radius:10px;
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.category-box i{
  font-size:28px;
  color:#1f7b85;
  margin-bottom:4px;
}

.category-box p{
  margin:5px 0 0;
  font-size:15px;
  font-weight:700;
  color:#111;
}

.category-box.active{
  background:#1f7b85;
}

.category-box.active i,
.category-box.active p{
  color:#df9130;
}

/* Tablet */
@media(max-width:992px){
  .categories-wrapper{
    padding:35px 25px 80px;
  }

  .categories-img{
    width:100%;
    height:320px;
    margin-left:0;
    margin-bottom:40px;
  }

  .categories-title{
    margin-top:0;
    font-size:42px;
  }
}

/* Mobile */
@media(max-width:576px){
  .categories{
    padding:60px 0 100px;
  }

  .categories-wrapper{
    padding:25px 15px 70px;
  }

  .categories-img{
    height:230px;
    border-radius:25px;
  }

  .categories-title{
    font-size:32px;
  }

  .category-box{
    width:85px;
    height:85px;
  }

  .category-box i{
    font-size:24px;
  }

  .category-box p{
    font-size:14px;
  }
}

/* ================= SOFAS ================= */
/* ================= SOFAS ================= */


.sofas-section{
  background:#f6efe6;
  min-height:100vh;
  overflow:hidden;
  padding:40px 0 80px;
  position:relative;
}

.sofa-bg{
  font-size:150px;
  font-weight:900;
  color:#d9b98f;
  opacity:.8;
  filter:blur(7px);
  position:absolute;
  top:25px;
  left:50%;
  transform:translateX(-50%);
  z-index:0;
}

.sofa-title{
  color:#df9130;
  font-size:38px;
  font-weight:800;
  padding-top:145px;
  position:relative;
  z-index:2;
}

.sofaSwiper{
  width:110%;
  margin-top:45px;
  overflow:hidden;
  position:relative;
  z-index:2;
  }


/* بدل .swiper-wrapper */
.sofa-wrapper{
  align-items:center;
}

/* بدل .swiper-slide */
.sofa-slide{
  width:auto;
}

.sofa-img{
  width:330px;
  height:175px;
  object-fit:cover;
  display:block;
}

/* الميلان زي الصورة */
.swiper-slide:nth-child(4n+1) .sofa-img{
  clip-path:polygon(0 0,100% 8%,100% 92%,0 100%);
}

.swiper-slide:nth-child(4n+2) .sofa-img,
.swiper-slide:nth-child(4n+3) .sofa-img{
  clip-path:polygon(0 7%,100% 7%,100% 93%,0 93%);
}

.swiper-slide:nth-child(4n) .sofa-img{
  clip-path:polygon(0 8%,100% 0,100% 100%,0 92%);
}

.view-btn{
  margin-top:55px;
  background:#df9130;
  color:white;
  font-size:30px;
  padding:12px 95px;
  border:0;
  border-radius:20px;
  box-shadow:0 4px 8px rgba(0,0,0,.25);
  position:relative;
  z-index:3;
}

@media(max-width:768px){
  .sofa-bg{
    font-size:95px;
  }

  .sofa-title{
    padding-top:115px;
  }

  .sofa-img{
    width:230px;
    height:145px;
  }

  .view-btn{
    font-size:22px;
    padding:10px 55px;
  }
}
/***********************selllinnng*****/
.selling{
  background:#f6f2ea;
  padding:70px 0;
}

.selling h1{
  color:#1f7b85;
  font-size:45px;
  font-weight:700;
  margin-bottom:60px;
}

.product-card{
  background:#fff;
  border-radius:35px;
  overflow:hidden;
  box-shadow:0 4px 8px rgba(0,0,0,.25);
}

.product-card img{
  width:100%;
  height:370px;
  object-fit:cover;
  display:block;
}

.product-body{
  padding:25px 35px 30px;
}

.product-body h5{
  font-size:34px;
  font-weight:600;
  margin-bottom:20px;
}

.price-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.price-row p{
  color:#39958d;
  font-size:32px;
  margin:0;
}

.price-row p span{
  color:#888;
  text-decoration:line-through;
  text-decoration-color:red;
  font-size:24px;
  margin-left:8px;
}

.rate{
  font-size:28px;
  color:#111;
}

.rate span{
  color:#ffc400;
  font-size:42px;
}
.slider-nav{
  margin: 40px 0;
}

.arrow-btn{
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  background: #fff;
  color: #df8f2f;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,.18);
}

.arrow-btn:first-child{
  color: #f1d9bd;
}

.dot{
  width: 12px;
  height: 12px;
  border: 2px solid #df8f2f;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
}

.dot.active{
  background: #df8f2f;
}
.pay-btn{
  display:block;
  width:fit-content;
  margin:60px auto 0;
  background:#df9130;
  color:#fff;
  border-radius:18px;
  font-size:34px;
  padding:12px 120px;
  text-decoration:none;
  text-align:center;
}

.pay-btn:hover{
  transform:scale(1.1);
}

.product-card{
  background:#fff;
  transition:.3s;
  cursor:pointer;
}

.product-card:hover{
  background:#fdce95;
}

/* Responsive */
@media(max-width:768px){
  .selling h1{
    font-size:30px;
  }

  .product-card img{
    height:260px;
  }

  .product-body h5{
    font-size:25px;
  }

  .price-row p{
    font-size:25px;
  }

  .pay-btn{
    font-size:24px;
    padding:12px 70px;
  }
}
.mobiles{
  background:#efd9c3;
  padding:50px 0;
  overflow:hidden;
}

.mobile-left h1{
  color:#c47a1d;
  font-size:42px;
  font-weight:700;
  margin-bottom:22px;
}

.mobile-text{
  color:#4b4b4b;
  font-size:25px;
  line-height:1.5;
  margin-bottom:45px;
}

.download-wrapper{
  display:flex;
  gap:55px;
  flex-wrap:wrap;
}

.download-card{
  width:210px;
  height:190px;
  background:#1f7b85;
  color:#fff;
  border-radius:14px;
  padding:20px 18px;
  position:relative;
  overflow:visible;
}

.download-card h4{
  font-size:26px;
  margin-bottom:2px;
  font-weight:400;
}

.download-card p{
  font-size:15px;
  color:#d7e6e8;
  margin:0 0 22px;
}

.download-card button{
  background:#df9130;
  color:#fff;
  border:none;
  border-radius:22px;
  padding:7px 24px;
  font-size:15px;
  box-shadow:0 3px 6px rgba(0,0,0,.2);
}

.card-bottom{
  margin-top:22px;
}
.card-bottom img{
  height: 40px;
  width: 40px;

}

.system-icon{
  width:58px;
  height:58px;
  background:#f6f2ea;
  color:#1f7b85;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:34px;
  position:absolute;
  right:-18px;
  bottom:-2px;   /* هي أهم وحدة */
 
}

.system-icon:hover{
 color: #eca32d;
}
/**************************phone******/
.phone{
  position:absolute;
  height:auto;
  padding-bottom: 80px;
}
.phone-box{
  position:relative;
  min-height:430px;
}
.phone-one{
  width:240px;
  right:230px;
  top:-35px;
  z-index:1;
}

.phone-two{
  width:300px;
  right:90px;
  top: 20px;
  z-index:2;
}

.download-card button:hover{
  transform:scale(1.2);
}


/* Responsive */
@media(max-width:992px){
  .mobiles{
    text-align:center;
    padding:60px 0 40px;
  }

  .download-wrapper{
    justify-content:center;
  }

  .phone-box{
    min-height:430px;
    margin-top:40px;
  }

  .phone-one{
    right:50%;
    transform:translateX(10%);
  }

  .phone-two{
    right:50%;
    transform:translateX(70%);
  }
}

@media(max-width:576px){
  .mobile-left h1{
    font-size:30px;
  }

  .mobile-text{
    font-size:18px;
  }

  .download-wrapper{
    gap:20px;
  }

  .download-card{
    width:210px;
  }

  .phone-box{
    min-height:330px;
  }

  .phone-one{
    width:200px;
    top:0;
  }

  .phone-two{
    width:240px;
    top:70px;
  }
}

/* ================= AI SECTION ================= */

.ai-section{
  background:#f6efe6;
  padding:90px 0;
  overflow:hidden;
}

/* ===== Titles ===== */

.ai-title,
.transform-title{
  font-size:35px;
  font-weight:600;
  color:#111;
  margin-bottom:35px;
}

.ai-title span{
  color:#1f7b85;
}

/* ===== List ===== */

.ai-list{
  padding-left:30px;
  margin:0;
}

.ai-list li{
  font-size:25px;
  color:#333;
  margin-bottom:25px;
  line-height:1.5;
}

/* ===== Paragraph ===== */

.transform-text{
  font-size:25px;
  color:#333131;
  font-weight: bold;
}

/* ===== AI Image ===== */

.image-box{
  position:relative;
  border:5px solid #1f7b85;
  border-radius:18px;
  overflow:hidden;
}

.image-box img{
  width:100%;
  height:300px;
  object-fit:cover;
}

/* ===== Tag ===== */

.tag{
  position:absolute;
  top:0;
  left:0;
  background:#1f7b85;
  color:#fff;
  padding:12px 28px;
  font-size:22px;
  font-weight:600;
  border-bottom-right-radius:18px;
}

/* ===== Before After ===== */

.before-after{
  position:relative;
  border:3px solid #1f7b85;
  border-radius:18px;
  overflow:hidden;
}

.before-after img{
  width:100%;
  height:290px;
  object-fit:cover;
}

/* ===== Labels ===== */

.label{
  position:absolute;
  top:0;
  left:0;
  background:#df9130;
  color:#fff;
  font-size:22px;
  font-weight:600;
  padding:10px 22px;
  border-bottom-right-radius:18px;
}

/* ===== Arrows ===== */

.compare-btns{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  gap:15px;
}

.compare-btn{
  width:55px;
  height:55px;
  border:none;
  border-radius:50%;
  background:#fff;
  color:#1f7b85;
  font-size:22px;
  box-shadow:0 5px 15px rgba(0,0,0,.2);
  transition:.3s;
}

.compare-btn:hover{
  background:#1f7b85;
  color:#fff;
}

/* ================= Responsive ================= */

@media (max-width:992px){

  .ai-section{
      padding:70px 0;
  }

  .ai-title,
  .transform-title{
      font-size:38px;
      text-align:center;
  }

  .transform-text{
      text-align:center;
      font-size:24px;
  }

  .ai-list li{
      font-size:22px;
  }

  .image-box img{
      height:300px;
  }

  .before-after img{
      height:260px;
  }

}

@media (max-width:768px){

  .ai-title,
  .transform-title{
      font-size:32px;
  }

  .ai-list{
      padding-left:20px;
  }

  .ai-list li{
      font-size:18px;
      margin-bottom:15px;
  }

  .transform-text{
      font-size:20px;
  }

  .image-box img{
      height:250px;
  }

  .before-after img{
      height:220px;
  }

  .tag,
  .label{
      font-size:16px;
      padding:8px 16px;
  }

}
  /**************************customporrrrr**********/
.customer{
  background:#f6efe6;
  padding:50px 0;
}

.customer-box{
  background:#efd9c3;
  border-radius:90px;
  max-width:1240px;
  padding:45px 60px 55px;
}

.customer-title{
  font-size:42px;
  font-weight:700;
  margin-bottom:50px;
  color:#111;
}

.customer-images{
  margin-bottom:38px;
}

.person-img{
  border-radius:50%;
  object-fit:cover;
  flex-shrink:0;
}

.small-img{
  width:110px;
  height:110px;
}

.active-img{
  width:150px;
  height:150px;
  padding:3px;
  background:#efd9c3;
}

.arrow-btn{
  width:52px;
  height:52px;
  border:none;
  border-radius:50%;
  background:#1f7b85;
  color:#fff;
  font-size:24px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.customer-info h3{
  color:#1f7b85;
  font-size:38px;
  font-weight:700;
  margin-bottom:5px;
}

.job{
  font-size:24px;
  color:#333;
  margin-bottom:5px;
}

.stars{
  color:#ffc400;
  font-size:30px;
  margin-bottom:22px;
}

.review{
  font-size:30px;
  line-height:1.7;
  color:#222;
  margin-bottom:0;
}

/* Responsive */
@media(max-width:992px){
  .customer-box{
    border-radius:60px;
    padding:40px 25px;
  }

  .customer-title{
    font-size:34px;
  }

  .small-img{
    width:80px;
    height:80px;
  }

  .active-img{
    width:130px;
    height:130px;
  }

  .review{
    font-size:24px;
  }
}

@media(max-width:576px){
  .customer{
    padding:50px 0;
  }

  .customer-box{
    border-radius:35px;
    padding:35px 15px;
  }

  .customer-title{
    font-size:28px;
    margin-bottom:35px;
  }

  .small-img{
    width:60px;
    height:60px;
  }

  .active-img{
    width:95px;
    height:95px;
  }

  .arrow-btn{
    width:38px;
    height:38px;
    font-size:18px;
  }

  .customer-info h3{
    font-size:30px;
  }

  .job{
    font-size:18px;
  }

  .stars{
    font-size:22px;
  }

  .review{
    font-size:20px;
  }
}

/* ================= DOWNLOAD ================= */
.download{
  background-image: url("../img/down.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
/* النص */

.download-title{
  font-size:50px;
  font-weight:600;
  line-height:1.2;
  color:#111;
  margin-bottom:35px;
}

.download-title span{
  color:#d89434;
}

.download-text{
  font-size:33px;
  line-height:1.6;
  color:#222;
  max-width:650px;
  margin-bottom:45px;
}

.download-text span{
  color:#d89434;
  font-weight:700;
}

/* الأزرار */

.stores{
  display:flex;
  gap:28px;
  flex-wrap:wrap;
}

.store-btn{
  width:250px;
  height:70px;
  border:none;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:16px;
  cursor:pointer;
  transition:.3s;
}
.store-btn:hover{
  transform:scale(1.08);
}

.google{
  background:#1d7d87;
}

.apple{
  background:#b98033;
}

.store-btn i{
  font-size:42px;
  color:#fff;
}

.store-btn div{
  text-align:left;
}

.store-btn small{
  display:block;
  color:#fff;
  font-size:13px;
  letter-spacing:.5px;
}

.store-btn span{
  color:#fff;
  font-size:30px;
  font-weight:600;
}

/* ================= Responsive ================= */

@media(max-width:992px){

  .download{
      min-height:auto;
      padding:80px 0;
      text-align:center;
  }

  .download-title{
      font-size:48px;
  }

  .download-text{
      font-size:26px;
      margin:auto auto 40px;
  }

  .stores{
      justify-content:center;
  }

}

@media(max-width:768px){

  .download-title{
      font-size:38px;
  }

  .download-text{
      font-size:22px;
  }

  .stores{
      flex-direction:column;
      align-items:center;
  }

  .store-btn{
      width:250px;
      height:75px;
  }

  .store-btn i{
      font-size:34px;
  }

  .store-btn span{
      font-size:26px;
  }

}

@media(max-width:576px){

  .download{
      padding:60px 0;
  }

  .download-title{
      font-size:30px;
  }

  .download-text{
      font-size:18px;
      line-height:1.6;
  }

  .store-btn{
      width:220px;
      height:65px;
  }

  .store-btn i{
      font-size:28px;
  }

  .store-btn span{
      font-size:22px;
  }

  .store-btn small{
      font-size:11px;
  }

}

/********************foter***********/
.footer{
  background:#1f7b85;
  color:white;
  padding:40px 0 15px;
}

.footer-logo{
  font-size:58px;
  font-weight:700;
  letter-spacing:12px;
}

.social a{
  width:58px;
  height:58px;
  border-radius:50%;
  background:rgba(255,255,255,.12);
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  font-size:20px;
}

.footer hr{
  border:0;
  height:2px;
  background:white;
  opacity:.8;
}

.footer h3{
  color:#df9130;
  font-size:30px;
  margin-bottom:25px;
}

.footer ul{
  list-style:none;
  padding:0;
  margin:0;
}

.footer ul li{
  margin-bottom:16px;
}

.footer ul li a{
  color:white;
  text-decoration:none;
  font-size:22px;
}

.qr-box{
  width:110px;
  height:110px;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  margin-top:15px;
  margin-left: 200px;
}


.qr-box img{
  width:100px;
  height:100px;
  border-radius:15px;
  object-fit:cover;
}

.copy{
  text-align:center;
  font-size:18px;
  margin-top:20px;
  margin-bottom:0;
}

/* Responsive */
@media(max-width:768px){
  .footer{
    text-align:center;
  }

  .footer-logo{
    font-size:42px;
    letter-spacing:8px;
    margin-bottom:25px;
  }

  .footer h3{
    font-size:26px;
  }

  .footer ul li a{
    font-size:19px;
  }

  .qr-box{
    margin:25px auto 0;
  }
}